{{template "header" .}}
{{template "navbar" .}}

  <h2>問題</h2>
  <hr>
  <h6>{{.problem}}</h6>


  <div class="form-group">
    <div class="col-sm-7" id="sourceCode">
      <div class="div-editor">
        <textarea class="form-control editor" name="sourceCode"></textarea>
      </div>
      <textarea class="form-control plain-textarea" style="display:none;"></textarea>
  
    </div>
  </div> 

  <br>

  <button class="btn btn-primary" type="submit" class="btn btn-primary">Submit</button>
 
</body> 

</html>